---
---

<span class="hs-logo">
  <svg
    class="hs-logo__mark"
    viewBox="0 0 318 361"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <path
      class="hs-logo__mark-accent"
      d="M158.707 219.637C188.057 169.695 234.806 144.001 293.233 150.546C298.911 151.097 310.443 151.925 310.843 159.716C313.772 216.723 264.247 262.069 211.205 272.308C198.502 276.055 179.992 270.211 189.551 254.266C192.601 249.179 203.015 248.926 208.089 247.837C249.812 238.881 278.086 215.366 286.872 173.556C280 173.226 271.853 172.694 265.099 173.394C243.342 175.646 220.141 184.148 203.946 199.064C182.869 218.476 172.18 239.936 171.324 268.621C170.738 288.251 170.958 308.012 170.785 327.626C170.931 333.646 171.843 342.345 167.47 347.046C163.038 351.937 154.859 352.122 150.273 347.367C145.696 342.62 146.872 333.885 146.915 327.639L146.861 292.353C146.87 284.894 147.129 276.383 146.681 269.086C145.193 244.851 136.609 221.483 119.059 204.24C94.8519 180.457 66.4409 172.802 33.3019 173.161C32.4119 173.174 31.523 173.206 30.635 173.256C36.118 200.117 46.8519 216.581 70.2179 231.954C80.9799 239.059 92.9789 244.083 105.593 246.764C111.435 248.058 119.285 248.881 124.263 251.454C132.921 255.928 130.757 272.16 120.367 272.909C98.8699 274.46 75.334 263.907 57.545 252.438C32.181 234.914 13.4819 211.417 7.95594 180.724C6.91694 174.952 5.18995 160.206 8.39295 155.064C9.85695 152.712 13.7109 151.737 16.3349 151.405C54.6699 146.558 89.6699 151.645 121.162 175.613C137.447 188.008 149.589 201.561 158.707 219.637Z"
    />
    <path
      class="hs-logo__mark-primary"
      d="M157.923 7.14202C159.634 7.05202 161.349 7.21702 163.011 7.63102C172.579 9.97902 172.976 22.951 175.426 30.518C191.394 79.829 236.532 110.654 287.282 114.103C295.63 114.67 303.915 112.366 309.247 120.981C312.927 126.927 311.066 135.577 304.495 138.988C292.929 143.741 268.65 139.17 257.556 136.026C213.776 123.619 181.45 95.928 159.649 56.747C158.213 56.606 157.197 59.207 156.411 60.615C136.518 96.267 101.627 124.692 62.089 135.411C51.67 138.236 10.54 148.625 7.28798 131.252C3.74298 112.308 23.044 114.668 34.554 113.785C39.984 113.365 45.38 112.577 50.703 111.427C89.59 103.357 122.617 78.006 138.608 41.327C140.583 36.773 142.292 32.108 143.727 27.357C146.692 17.5 145.731 9.46502 157.923 7.14202Z"
    />
    <path
      class="hs-logo__mark-primary"
      d="M170.785 327.626C186.567 327.783 202.349 327.854 218.132 327.84C227.599 327.84 237.63 328.372 247.009 327.089C255.204 325.968 262.881 322.284 269.265 317.075C299.332 292.544 278.876 255.024 289.559 241.778C291.351 239.555 293.814 238.356 296.635 238.056C299.947 237.703 303.751 238.256 306.363 240.471C309.402 243.049 310.45 247.132 310.761 250.95C311.255 257.016 310.872 263.423 310.809 269.509C310.579 291.867 307.953 309.41 293.075 327.065C281.12 341.377 263.906 350.274 245.316 351.747C236.85 352.399 222.987 352.01 214.2 352.009L155.608 351.953L102.006 351.957C75.262 351.95 53.789 354.162 32.137 334.919C11.941 317.521 6.21099 292.736 7.41999 267.097C7.77599 259.541 5.45697 247.428 10.983 241.483C13.122 239.147 16.117 237.778 19.283 237.689C24.116 237.575 30.033 241.768 30.642 246.538C33.73 270.713 25.217 295.452 45.54 314.608C51.45 320.129 58.645 324.088 66.472 326.125C75.06 328.296 92.457 327.863 101.91 327.891C116.912 328.005 131.915 327.922 146.915 327.639C146.872 333.885 145.696 342.62 150.273 347.367C154.859 352.122 163.038 351.937 167.47 347.046C171.843 342.345 170.931 333.646 170.785 327.626Z"
    />
  </svg>
  <span class="hs-logo__text">HomeStem</span>
</span>

<style>
  .hs-logo {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
  }

  .hs-logo__mark {
    width: calc(28px * 318 / 361);
    height: 28px;
    flex-shrink: 0;
  }

  .hs-logo__mark-accent {
    fill: var(--color-accent);
  }

  .hs-logo__mark-primary {
    fill: var(--color-primary);
  }

  .hs-logo__text {
    font-family: var(--font-heading);
    font-size: var(--font-size-label-lg);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
    letter-spacing: -0.01em;
  }
</style>
